.cart-container {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("C:\Users\ADMIN\Documents\mini_proj\src\cartgif.gif");
  background-repeat: no-repeat;
  margin-top: 30px;
  background-position: right;
  }
  
  .cart-items {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-item .item-details {
    display: flex;
    align-items: center;
  }
  
  .cart-item .item-details img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .cart-item .item-details .item-name {
    font-weight: bold;
  }
  
  .cart-item .item-details .item-price {
    margin-left: 20px;
  }
  
  .cart-item .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .cart-item .item-quantity button {
    padding: 5px 10px;
    margin: 0 5px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart-item .item-quantity button:hover {
    background-color: lightblue;
  }
  
  